* {
    font-family: Verdana;
    color: white;
}

body {
    background-color: black;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p {
    font-size: 21px;
    color: gray;
    text-align: center;
}

#download-link {
    color: aquamarine;
    font-size: 16px;
}

.video-container {
    display: flex;
    justify-content: center;
}

.camp-image {
    display: flex;
    justify-content: center;

}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}